---
layout: default
---
<div class="mainpagearticleformat">
 <article>
  <header><h3>&nbsp;&nbsp;&nbsp;Posts</h3></header>
  <ul>
    {%- assign posts = paginator.posts | default: site.posts -%}
    {% for post in posts limit:7%}
    <li>
      <b><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time></b>&nbsp;&nbsp;&nbsp;
      <b><a href="{{ post.url | relative_url }}">{{ post.title }}</a></b>
      <p class="palign">
        {% if post.description %}
           {{ post.description }}
        {% else %}
           {{ post.excerpt | strip_html | truncatewords: 40 }}
        {% endif %}
      </p>
    </li>
    {% endfor %}
  </ul>
  {{ content }}
 </article>
</div>

<!--{% if paginator.total_pages > 1 %}-->
<footer>
  <a {% if paginator.previous_page %}class="gray" href="{{ paginator.previous_page_path | relative_url }}"{% else %}class="disabled"{% endif %}>« newer posts</a>
  <span>page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  <a {% if paginator.next_page %}class="gray" href="{{ paginator.next_page_path | relative_url }}"{% else %}class="disabled"{% endif %}>older posts »</a>
</footer>
<!--{% endif %}-->
