---
layout: default
---
<div class="pagearticleformat">
  <article>
    {{ content }}
  </article>
</div>

<footer>
  <div class="footer_content_align_left"> 
    {{ site.your_copyright }}
  </div> 
  <div class="footer_content_align_right">
    <a href="https://github.com/uonyekwuluje" target="_blank" class="contactcolor"><i class="fab fa-github-square fa-2x"></i></a>&nbsp;&nbsp;
    <a href="https://www.linkedin.com/in/uchechukwu-onyekwuluje-sde" target="_blank" class="contactcolor"><i class="fab fa-linkedin fa-2x"></i></a>
  </div>
</footer>
